h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
p, div, input, body, button {
    font-family: 'roboto', sans-serif;
}

h3 {
    text-align: center;
}
body {
    background: url(curtains.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    background-color: black;
}

.container {
    position: absolute;
    width: 75%;
    height: 85%;
    left: 12.5%;
    top: 7.75%;
    background-color: black;
}
.background {
    margin-top: 0px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 150%;
    left: 0%;
    border: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    text-align: left;
    color: silver;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
}

.title {
    margin-top: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0%;
    color: red;
    background: rgba(0,0,0,0.9);
    border: black;
    /*border-radius: 5px;*/
    box-shadow: 5px 5px 5px black;
    text-shadow: 4px 4px 5px darkred;
    z-index: 10;
}

.movie-box {
    width: 40%;
    color: white;
    background: rgba(0,0,0,0.9);
    border: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    box-shadow: 5px 5px 5px black;
}

.nomination-box {
    width: 40%;
    color: white;
    background: rgba(0,0,0,0.9);
    border: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    box-shadow: 5px 5px 5px black;
}
.search-field {
    position: relative;
    width: 15%;
    font-size: medium;
    background-color: black;
    color: white;
    border: black;
    border-radius: 5px;
    height: 30px;
    box-shadow: 5px 5px 5px black;
}

.search-bar {
    text-align: center;
    color: white;
    border: wheat;
    border-radius: 5px;
    width: 90%;
    left: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.movie-result, .nomination-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: smaller;
    padding-top: 2px;
    padding-bottom: 2px;
}

li:hover {
    color:#f00;
}

.movielist, .nominationlist {
    width: 100%;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.nominate-button, .tee-button {
    width: 50%;
    color: white;
    background-color: black;
    align-self: flex-end;
}

.remove-button {
    width: 20%;
    color: white;
    background-color: black;
    align-self: flex-end;
}

.buttonbox {
    width: 40%;
}

.whitetee {
    position: relative;
    width: 40%;
    display: none;
    background: rgba(0,0,0,0.9);
    border: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.tee {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 1;
    height: 100%;
    margin-right: -50%;
    transform: translate(-50%);
}

.logo {
    position: absolute;
    z-index: 3;
    top: 18%;
    height: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.user-popup {
    position: fixed;
    z-index: 9;
    margin: auto;
    width: 30%;
    height: 20%;
    background: rgba(0,0,0,0);
    color: red;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    border-color: darkred;
}

.login-title {
    text-shadow: 2px 2px 2.5px darkred;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

input {
    color: white;
}
.username {
    width: 50%;
    background-color: transparent;
    color: white;
    position: relative;
    left: 25%;
    height: 20px;
    border-style: solid;
    border-color: red;
    font-weight: 800;
}

.btn {
    background-color: transparent;
    color: red;
    transition-duration: 0.4s;
    border: none;
    font-weight: 800;
    height: 30px;
    width: 30%;
}

.btn:hover {
    background-color: red;
    color: black;
}

.blur {
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
    z-index: 6;
}
.item img {
    margin-top: auto;
}
.slider{
    /*max-width: 90%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally: */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
/* The picture is scaled in relation to the parent element: */
.slider .item img {
    /* The element is resized to fill the block and maintain proportions: */
    object-fit: cover;
    width: 90%;
    left: 5%;
    position: relative;
}
/* Back and forward buttons: */
.slider .previous, .slider .next {
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Styling the buttons themselves: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* When you hover over the buttons, add the background of the buttons: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Slide animation: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Set and change the transparency: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.underline {
    border-bottom: 1px solid darkred;
}

h2 span {
    position: relative;
    color: red;
    font-weight: 100;
    border-bottom: 1px solid darkred;
    width: 100%;
    left: 5%;
  }
  h2 span:before {
    content: '';
    position: absolute;
    width: 35%;
    height: 5px;
    bottom: -3px;
    left: 0;
    background-color: darkred;
  }